<div class="container">
  <img src="assets/cauldron.gif" />
  <div class="break"></div>
  <h1>October Hackathon</h1>
  <div class="break"></div>
  <section>
    Join us Wednesday October 26th at 4pm in the Danner MPR for this month’s
    hackathon and some scary Halloween snacks!
    <br />
    For October we have an interesting challenge in place!
    <br />
    The hackathon committee was gifted a touch screen monitor and we need your
    help to develop something interactive to display.
    <br />
    This could be anything from a leader board to show past Hackathon winners to
    a Halloween themed game that we can all play together!
    <br />
    We will be going over PythonAnywhere, CodePen, and some web development
    basics.
    <br />
    Also, there is a special prizes for those that form teams for the event this
    time!
  </section>
</div>
